body, html {
    text-align: center;
}

.item-display{
    width: 90%;
    height: 90%
}

.item-img{
    width: 100px;
    height: 100px
}

#cart {
    background-color: aqua;
}

#cart-item {
    background-color: brown;
}

#cart-nav {
    background-color: darkgoldenrod;
}

#checkout {
    background-color: rgb(255, 0, 212);
}

#product-item {
    background-color: purple;
}

#product-list {
    background-color: yellow;
}

#navbar {
    background-color: maroon;
    color: whitesmoke;
}